---
---

$verydark: #111;
$dark: #333;
$medium: #666;

body {
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	margin: 0;
	padding-top: 50pt;
}

.content {
	max-width: 580pt;
	margin: 0 auto;
}

.content_albums {
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 300%;
	margin: 5pt;
}

h2 {
	font-size: 130%
}

h5 {
	text-align: center;
	font-size: 120%;
}

h6 {
	text-align: center;
	font-size: 160%;
	padding-bottom: -5pt;
	margin: 6pt;
}

h3 {
	text-align: center;
	font-size: 100%;
	margin: 0pt;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

[tooltip] {
	text-decoration: underline;
}

p {
	text-align: justify;
}

iframe[src*="youtube.com"] {
	width: 100%;
	height: 300pt;
}

iframe[src*="facebook.com"] {
	margin: 0 auto;
}

img {
	display: block;
	margin: 0 auto;
}

ul.navigation_bar {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	//overflow: auto;
	background-color: $dark;
	z-index: 100;
	//height: 38pt;
	//white-space:nowrap;
}

.navigation_bar li {
	display: inline-block;
}

.navigation_bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation_bar li a:hover {
	background-color: $verydark;
}

.navigation_bar .current {
	background-color: $verydark;
}

.album_list {
	text-align: center;
}

.album_list .cover {
	display: inline-block;
}

.album_list .cover img {
	margin: 2pt;
	width: 180pt;
}

.bio-cd {
	font-weight: bold;
}

.engels {
	font-style: italic;
}

.dialect {
	font-style: italic;
}

.witregel {
	padding-top: 10pt;
}

.uitgelicht {
	font-weight: normal;
	font-style: italic;
	font-size: 150%;
	width: 85%;
	margin:0 auto;
	text-align: center;
	padding-top: 15pt;
	padding-bottom: 15pt;
}

.quote {
	text-align: center;
	font-size: 165%;
	font-weight: bold;
}

.extra_uitleg {
	font-weight: bold;
	font-style: italic;
}

.bronvermelding {
	font-size: 70%;
}

.vertaling {
font-size: 80%;	
}
.lead {
	font-weight: bold;
}

.dagboek {
	font-style: italic;
	width: 95%;
	margin:0 auto;
	font-size: 85%;
	color: $dark;
}

.slick-slide {
	height: auto;
	overflow: hidden;
	margin: 0 10pt;
}

.slick-slide > img {
	margin:0 auto;
}

.home_artists img {
	height: 245pt;
}

.home_artists .slick-arrow {
	visibility: hidden;
}

.slick-prev::before, .slick-next::before {
	color: $verydark;
}

.fp-controlArrow {
	top: 40%;
}

.fp-controlArrow.fp-prev {
	border-right-color: $dark;
	left: -30pt;
}

.fp-controlArrow.fp-next {
	border-left-color: $dark;
	right: -30pt;
}

.fp-tooltip {
	color: $dark !important;
}

.fp-tableCell {
	vertical-align: top;
	padding-top: 20pt;
}

#fp-nav ul li {
	width: 6pt;
	height: 6pt;
}

.timeline {
	width: 580pt;
}

#forward.arrow{
	left: 535pt;
}

.timeline-item-content {
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
}

.timeline-item-content > img {
	height: 163pt;
}

.timeline-item-content > iframe {
	height: 163pt;
}

table {
	width: 100%;
	text-align: left !important;
}

td:first-child {
	width: 250pt;
}

td:nth-child(2) {
	width: 100pt;
}

td:last-child {
	width: 100pt;
}

table.grafiek-tabel {
	border-collapse: collapse;
}

.grafiek-tabel th, {
	border: 1px solid $dark;
}
.grafiek-tabel td {
	border: 1px solid $medium;
}

.grafiek-tabel th, .grafiek-tabel td {
	padding: 0 2pt;
}

.grafiek-tabel thead {
	background-color: $dark;
}

.grafiek-tabel td:first-child { 
	width: 70pt;
}

.grafiek-tabel td:nth-child(2) { 
	width: 200pt;
}

.grafiek-tabel td:last-child { 
	width: 120pt;
}

.dynatable-active-page {
	background: $dark;
}

.dynatable-record-count {
	visibility: hidden;
}

.dynatable-pagination-links {
	margin-top: 2pt;
}

.timeline {
	background-color: white;
	background-image: unset;
	position: unset;
	height: 290pt;
}

.timeline .arrow {
	background-image: unset !important;
}

.timeline .title {
	padding-bottom: 7pt;
	padding-top: 3pt;
}

.timeline #timeline-slider {
	margin-top: 10pt;
}

[data-pin-href] {
	display: block !important;
	margin:0 auto;
}

footer {
	padding-top: 15pt;
	max-width: 580pt;
	margin:0 auto;
}

footer ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 0;
}

footer li {
	flex: 0 1 auto; /* Default */
	list-style-type: none;
}
