body {
    width: 90%;
    margin:0 auto;
}

h1 {
    text-align: center;
    color: red;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

p {
    text-align: justify;
}

.bio-cd {
    font-weight: bold;
}

.engels {
    font-style: italic;
}

.dialect {
    font-style: italic;
}

.witregel {
    padding-top: 10px;
}

.uitgelicht {
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
}

.extra_uitleg {
    font-weight: bold;
    font-style: italic;
}

.lead {
    font-weight: bold;
}

.dagboek {
    font-style: italic;
    width: 90%;
    margin:0 auto;
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer li {
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}
