---
---

$dark: #333;

* {
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

body {
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	margin: 0;
}

.content {
	max-width: 580pt;
	margin:0 auto;
}

h1 {
	text-align: center;
	font-size: 300%;
}

h2 {
	font-size: 130%
}

h5 {
	text-align: center;
	font-size: 120%;
}

h6 {
	text-align: center;
	font-size: 160%;
	padding-bottom: -5pt;
	margin: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

[tooltip] {
	text-decoration: underline;
}

p {
	text-align: justify;
}

iframe[src*="youtube.com"] {
	width: 100%;
	height: 300pt;
}

img {
	display: block;
	margin: 0 auto;
}

ul.navigation_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $dark;
}

.navigation_bar li {
    float: left;
}

.navigation_bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation_bar li a:hover {
	background-color: black;
}

.bio-cd {
	font-weight: bold;
}

.engels {
	font-style: italic;
}

.dialect {
	font-style: italic;
}

.witregel {
	padding-top: 10pt;
}

.uitgelicht {
	font-weight: normal;
	font-style: italic;
	font-size: 150%;
	width: 85%;
	margin:0 auto;
	text-align: center;
}

.quote {
	text-align: center;
	font-size: 165%;
	font-weight: bold;
}

.extra_uitleg {
	font-weight: bold;
	font-style: italic;
}

.bronvermelding {
	font-size: 70%;
}

.vertaling {
font-size: 80%;	
}
.lead {
	font-weight: bold;
}

.dagboek {
	font-style: italic;
	width: 95%;
	margin:0 auto;
	font-family: "Times New Roman", Times, serif;
}

.slick-slide {
	height: auto;
	overflow: hidden;
	margin: 0 10pt;
}

.slick-slide > img {
	margin:0 auto;
}

.slick-prev::before, .slick-next::before {
	color: black;
}

.fp-controlArrow {
	top: 40%;
}

.fp-controlArrow.fp-prev {
	border-right-color: $dark;
	left: -30pt;
}

.fp-controlArrow.fp-next {
	border-left-color: $dark;
	right: -30pt;
}

.fp-tooltip {
	color: $dark !important;
}

.fp-tableCell {
	vertical-align: top;
	padding-top: 20pt;
}

.timeline {
	width: 580pt;
}

#forward.arrow{
	left: 535pt;
}

.timeline-item-content {
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
}

.timeline-item-content > img {
	height: 163pt;
}

.timeline-item-content > iframe {
	height: 163pt;
}

table {
	width: 100%;
	text-align: justify !important;
}

td:first-child {
	width: 200pt;
}

td:nth-child(2) {
	width: 100pt;
}

td:last-child {
	width: 100pt;
}

.grafiek-tabel thead {
	background-color: $dark;
}

.grafiek-tabel td:first-child { 
	width: 100pt;
}

.grafiek-tabel td:nth-child(2) { 
	width: 150pt;
}

.grafiek-tabel td:last-child { 
	width: 50pt;
}

footer {
	padding-top: 30pt;
	max-width: 580pt;
	margin:0 auto;
}

footer ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 0;
}

footer li {
	flex: 0 1 auto; /* Default */
	list-style-type: none;
}
