---
---

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="shortcut icon" type="image/png" href="{% include fix_url.html url='/images/icon.png' %}"/>

		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/styles.css' %}">
		
		{% include live_js.html %}
	</head>

	<body>
		<ul class="navigation_bar">
			<li>
				<a href="{% include fix_url.html url='/' %}">◄ Home</a>
			</li>
			{% for info in site.artist_info %}
			{% if info.artist == page.artist %}
				<li>
					<a href="{% include fix_url.html url=info.url %}">{{ info.link-title }}</a>
				</li>
			{% endif %}
			{% endfor %}
		</ul>

		{{ content }}

        {% include footer.html %}
	</body>
</html>
