---
---

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="shortcut icon" type="image/png" href="{% include fix_url.html url='/images/icon.png' %}"/>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<!-- Add the slick-theme.css if you want default styling -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

		{% if layout.extra_css %}
		{% for css_file in layout.extra_css %}
		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url=css_file %}"></script>
		{% endfor %}
		{% endif %}

		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/jquery.quiz-min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/jquery.dynatable.css' %}">
		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/juanma_aguero_fancy_timeline/css/ftl-default/fancy-timeline.css' %}">
		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/styles.css' %}">
	</head>

	<body lang="nl">
		{{ content }}

		{% include footer.html %}
	
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script src="{% include fix_url.html url='/js/jquery.dynatable.js' %}"></script>
		<script src="{% include fix_url.html url='/juanma_aguero_fancy_timeline/js/fancy-timeline.min.js' %}"></script>
		<script src="{% include fix_url.html url='/js/jquery.quiz-min.js' %}"></script>
		<script>
			$( document ).tooltip({
				hide: { effect: "" }, //fadeOut
				items: '[tooltip]',
				track: true,
				content: function () {
					return $(this).attr('tooltip');
				},
				close: function(event, ui){
					ui.tooltip.hover(
						function () {
							$(this).stop(true).fadeTo(400, 1); 
						},
						function () {
							$(this).fadeOut("400", function(){
								$(this).remove(); 
							})
						}
					);
				}  
			});
			$(".carousel").each(function(index) {
				var slick = $( this )
				slick.slick({
					dots: true
				})
				var slideIndex = 0;
				slick.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
					//console.log("Change " + currentSlide + " -> " + nextSlide)
					slideIndex = currentSlide
				})
				slick.click(function(event) {
					var index = $('.slick-current').data('slick-index')
					var url = $('.slick-current').data('artist-url')
					//console.log(slideIndex + " -> " + index + " -> " + url)
					if (url && index == slideIndex) {
						window.location.href = url
					}
				})
			})
			$(".timeline").each(function(index){
				var timeline = $( this )

				var dates = [];
				timeline.children().each(function(index) {
					element = $( this )
					if (element.is('div')) {
						dates.push({
							marker: element.attr('marker'),
							type: "default",
							title: element.attr('title'),
							content: element.attr('content') || element.html()
						})
					}
					else if (element.is('img')) {
						dates.push({
							marker: element.attr('marker'),
							type: "image",
							title: element.attr('title'),
							img: element.attr('src'),
							content: element.attr('content')
						})
					}
					else if (element.is('iframe')) {
						var url = element.attr('src') || element.attr('data-src')
						var reg = new RegExp('(?:https?://)?(?:www\\.)?(?:youtu\\.be/|youtube\\.com(?:/embed/))([\\w-]{10,12})', 'g')
						var videoid = reg.exec(url)[1]
						if(videoid != null) {
							dates.push({
								marker: element.attr('marker'),
								type: "youtube-video",
								title: element.attr('title'),
								youtubeId: videoid,
								content: element.attr('content')
							})
						} else { 
							dates.push({
								marker: element.attr('marker') || 'FAILED',
								type: "default",
								title: element.attr('title') || 'FAILED',
								content: element.attr('content') || element.text() || 'FAILED'
							})
						}
					}
					else {
						dates.push({
							marker: element.attr('marker') || 'FAILED',
							type: "default",
							title: element.attr('title') || 'FAILED',
							content: element.attr('content') || element.text() || 'FAILED'
						})
					}
				})

				timeline.empty()
				timeline.fancyTimeline({
					initPos: 0,
					data: dates
				})
			})
			$(".quiz").each(function(index){
				var quiz = $( this )

				var question = ""
				var corrResp = ""
				var incorrResp = ""
				var answers = []
				var correctAnswer = -1

				var questions = []

				console.log(quiz.children(".questions"))
				quiz.children(".questions").each(function(index){
					console.log($( this ))
					$( this ).children().each(function(index){
						console.log($( this ))
						var child = $( this )
						if (index % 2 == 0) { //even are (should be) questions, odd answer list
							if (child.is('p')) { // what it should be
								question = child.text()
							}
							else {
								question = "Incorrect format"
							}
						}
						else {
							if (child.is('ul')) {
								answers = []
								child.children().each(function(index){
									if (index == 0){
										corrResp = $( this ).text()
									}
									else if (index == 1) {
										incorrResp = $( this ).text()
									}
									else {
										var text = $( this ).text().trim()
										if (text.startsWith("=")) {
											answers.push(text.substr(1).trim())
											correctAnswer = index - 2 //-2 for the corr and incorr response
										}
										else {
											answers.push(text)
										}
									}
								})
								questions.push({
									q: question,
									options: answers,
									correctIndex: correctAnswer,
									correctResponse: corrResp,
									incorrectResponse: incorrResp
								})
								answers = []
								correctAnswer = -1
							}
						}
					})
				})

				console.log(questions)
				quiz.children(".questions").empty()
				quiz.quiz({
					questions: questions,
					nextButtonText: 'Volgende',
					finishButtonText: 'Einde',
					restartButtonText: 'Herstart',
					resultsFormat: 'Proficiat, je hebt %score van de %total antwoorden juist!'
				})
			})
			$(".grafiek-tabel").dynatable()
			
			function adjustTop() {
				var height = $('.navigation_bar').height() || 0;
				$('body').css({'padding-top': height + 'px'});
			}
			adjustTop();
			$(window).resize(function(){
				adjustTop();
			});
		</script>
		{% if layout.extra_js %}
		{% for js_file in layout.extra_js %}
		<script src="{% include fix_url.html url=js_file %}" type="text/javascript"></script>
		{% endfor %}
		{% endif %}
		{% include live_js.html %}
	</body>
</html>
