---
---

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="shortcut icon" type="image/png" href="{% include fix_url.html url='/images/icon.png' %}"/>

		{% if layout.extra_css %}
		{% for css_file in layout.extra_css %}
		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url=css_file %}"></script>
		{% endfor %}
		{% endif %}

		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/styles.css' %}">
	</head>

	<body lang="nl">
		{{ content }}

		{% include footer.html %}
	
		<script src="{% include fix_url.html url='/js/jquery-3.2.1.js' %}"></script>
		<script src="{% include fix_url.html url='/js/lazysizes.min.js' %}"></script>
		<script>
			var tooltips = []
			$( '[tooltip]' ).each(function(index){
				index = index+1
				tooltips.push({index: index, value: $(this).attr('tooltip')})
				$(this).removeAttr('tooltip')
				$(this).after('<span>(' + index + ')</span>')
			})
			var tooltipList = $( '<ol></ol>' )
			for (i = 0; i < tooltips.length; ++i) {
				tooltipList.append('<li value=' + tooltips[i].index + '>' + tooltips[i].value + '</li>')
			}
			if (tooltips.length > 0) {
				$('.content').append('<h2>Voetnoten</h2>')
				$('.content').append(tooltipList)
			}
			$(".timeline").each(function(index){
				var timeline = $( this )

				var dates = [];
				timeline.children().each(function(index) {
					element = $( this )
					element.before('<h3>' + element.attr('marker') + ' - ' + element.attr('title') + '</h3>')
					if (element.is('div')) {
						element.replaceWith('<p>' + (element.attr('content') || element.html()) + '</p>')
					}
					else if (element.is('img')) {
						// Nothing, keep it as an image
					}
					else if (element.is('iframe')) {
						// Nothing, keep it as an iframe
					}
					else {
						element.replaceWith('<p>UNSUPPORTED ELEMENT</p>')
					}
				})
			})
			$(".quiz").each(function(index){
				var quiz = $( this )

				var corrResp = ""
				var incorrResp = ""

				quiz.children(".questions").each(function(index){
					$( this ).children().each(function(index){
						var child = $( this )
						if (index % 2 == 0) { //even are (should be) questions, odd answer list
							if (child.is('p')) { // what it should be
								child.prepend('Vraag: ')
							}
							else {
								child.text('Incorrect format')
							}
						}
						else {
							if (child.is('ul')) {
								answers = []
								child.children().each(function(index){
									if (index == 0){
										corrResp = $( this ).text()
										$( this ).remove()
									}
									else if (index == 1) {
										incorrResp = $( this ).text()
										$( this ).remove()
									}
									else {
										var text = $( this ).text().trim()
										if (text.startsWith("=")) {
											$( this ).text(text.substr(1).trim())
											$( this ).addClass('correct')
										}
										else {
											answers.push(text)
										}
									}
								})

								child.after('<div>Reactie bij fout antwoord: ' + incorrResp + '</div>')
								child.after('<div>Reactie bij juist antwoord: ' + corrResp + '</div>')
							}
						}
					})
				})
			})
			$("iframe").each(function(index){
				var element = $( this )
				element.after('<div>' + ($( this ).attr('src') || $( this ).attr('data-src')) + '</div>')

				var url = element.attr('src') || element.attr('data-src')
				var cla = "replaced"

				if (url.includes('youtube')) {
					var reg = new RegExp('(?:https?://)?(?:www\\.)?(?:youtu\\.be/|youtube\\.com(?:/embed/))([\\w-]{10,12})', 'g')
					var videoid = reg.exec(url)
					url = "http://img.youtube.com/vi/" + videoid[1] + "/0.jpg"
					cla += "_youtube" 
				}
				else if (url.includes('soundcloud')) {
					url = element.attr('img-alternative') || "{{ site.baseurl }}/images/missing.jpg"
					cla += "_soundcloud" 
				}
				else {
					return;
				}
				//var newElement = $( '<div class="replaced_iframe"></div>' )
				//newElement.css({ 'background-image': 'url("' + url +'")' })
				element.replaceWith('<img class="' + cla + '" src="' + url + '">')
			})
			$('[href*="pinterest"]').each(function(index){
				var element = $( this )
				element.after('<div>' + $( this ).attr('href') + '</div>')
				url = element.attr('img-alternative') || "{{ site.baseurl }}/images/missing.jpg"
				element.replaceWith('<img class="replaced_pinterest" src="' + url + '">')
			})

			function idOf(i) {
				return (i >= 26 ? idOf((i / 26 >> 0) - 1) : '') +  'abcdefghijklmnopqrstuvwxyz'[i % 26 >> 0];
			}
			var links = []
			$("a").not(".navigation_bar a").not("footer a").each(function(index){
				index = idOf(index)
				links.push({index: index, value: $(this).attr('href')})
				$(this).append(' (' + index + ')')
			})
			var linkList = $( '<ol type="a"></ol>' )
			for (i = 0; i < links.length; ++i) {
				linkList.append('<li value="' + links[i].index + '">' + links[i].value + '</li>')
			}
			if (links.length > 0) {
				$('.content').append('<h2>Links</h2>')
				$('.content').append(linkList)
			}
		</script>
		{% if layout.extra_js %}
		{% for js_file in layout.extra_js %}
		<script src="{% include fix_url.html url=js_file %}" type="text/javascript"></script>
		{% endfor %}
		{% endif %}
		{% include live_js.html %}
	</body>
</html>
