---
coverflow_index: 0
---

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="shortcut icon" type="image/png" href="{% include fix_url.html url='/images/icon.png' %}"/>

		<link rel="stylesheet" type="text/css" href="{% include fix_url.html url='/css/styles.css' %}">

		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<script src="{% include fix_url.html url='/js/jquery.coverflow.js' %}"></script>
		{% include live_js.html %}
	</head>

	<body>
		{{ content }}

        {% include footer.html %}
	</body>

	<script>
		$('.coverflow').coverflow({
			index: {{ page.coverflow_index | default: 0 }},
			density: {{ page.coverflow_density | default: 3 }},
			duration: "{{ page.coverflow_duration | default: 'normal' }}",
			innerOffset: {{ page.coverflow_inner_offset | default: 50 }},
			outerOffset: {{ page.coverflow_outer_offset | default: 50 }},
			innerScale: {{ page.coverflow_inner_scale | default: 0.8 }},
			outerScale: {{ page.coverflow_outer_scale | default: 0.8 }},
			innerAngle: {{ page.coverflow_inner_angle | default: -30 }},
			outerAngle: {{ page.coverflow_outer_angle | default: -30 }},
			animateStep:	function(event, cover, offset, isVisible, isMiddle, sin, cos) {
				if (isVisible) {
					if (isMiddle) {
						$(cover).css({
							'filter':			'none',
							'-webkit-filter':	'none'
						});
					} else {
						var brightness	= 1 + Math.abs(sin),
							contrast	= 1 - Math.abs(sin),
							filter		= 'contrast('+contrast+') brightness('+brightness+')';
						$(cover).css({
							'filter':			filter,
							'-webkit-filter':	filter
						});
					}
				}
			}
		});
    </script>
</html>
